*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}
.container{ 
    box-sizing: border-box;
    padding-left: 20%;
    padding-top: 3%;
    height: 90%;
 
}

.box-1{
    width: 80%;
    height: 280px;
    display: flex;

}
.box-2{
    width: 80%;
    height: 300px;
    padding-top: 40px;
    display: flex;
   
}

h1{
    font-family: 'Times New Roman', Times, serif;
    padding: 4%;
    padding-left: 27%;

}
p{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27%;
}
#submit{
    padding-top: 25px;
    color: black;
    align-items: center;
    width: 40px;
    height: 25px;
    margin: 5px solid rgb(19, 1, 1);
}
input[type="submit"]{
    background:lightgreen;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}
input[type="submit"]:hover{
    background-color: crimson;
}
img{
    background-color: transparent;
    width: 130% ;
    height: 100%;
    right: 25px;
    bottom: 30px;
    position:relative; 
}
.pic{
    background-color: lightgreen;
    width: 40%;
    bottom:25px;
    right: 25px;

     
}
.pic2{
    background-color: lightgreen;
    width: 32% ;
    right:40px;
    top:20px;
     
}